/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: aqua;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: limegreen;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: green;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: green;
    width: 50%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: limegreen;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: limegreen;
    color: aqua;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }



  body {
    font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
    font-size: 11pt; /* Размер основного шрифта в пунктах  */
    background-color: #333; /* Цвет фона веб-страницы */
    color: "limegreen"; /* Цвет основного текста */ 
  }
  h1 {
    color: #000000; /* Цвет заголовка */
    font-size: 24pt; /* Размер шрифта в пунктах */
    font-family:'Times New Roman', Times, serif;
    font-weight: normal; /* Нормальное начертание текста  */
  }
  h2 {
    text-align: left;
  }
  p {
    text-align: justify; /* Выравнивание по ширине */
    margin-left: 60px; /* Отступ слева в пикселах */
    margin-right: 10px; /* Отступ справа в пикселах */
    border-left: 1px solid #999; /* Параметры линии слева */
    border-bottom: 1px solid #999; /* Параметры линии снизу */
    padding-left: 10px; /* Отступ от линии слева до текста  */
    padding-bottom: 10px; /* Отступ от линии снизу до текста  */
    text-emphasis-color: limegreen;
  }
  h5 {
    color: rgb(0, 0, 0);
    /* font-size: */
    /* font-family: */
  }
  table {
    background-color: #333;
    border-color: #33ff00;

  }
  font {
    color: limegreen;
    margin-left: 10px; /* Отступ слева в пикселах */
    margin-right: 10px; /* Отступ справа в пикселах */
  }

  td {
    border-color: green;
  }
  u {
    color: aqua;
  }
  h4 {
    font-family: cursive;
  }
