body {
    font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
    font-size: 11pt; /* Размер основного шрифта в пунктах  */
    background-color: whitesmoke; /* Цвет фона веб-страницы */
    color: rgb(0, 0, 0); /* Цвет основного текста */ 
  }
  h1 {
    color: #000000; /* Цвет заголовка */
    font-size: 24pt; /* Размер шрифта в пунктах */
    font-family:'Times New Roman', Times, serif;
    font-weight: normal; /* Нормальное начертание текста  */
  }
  p {
    text-align: justify; /* Выравнивание по ширине */
    margin-left: 60px; /* Отступ слева в пикселах */
    margin-right: 10px; /* Отступ справа в пикселах */
    border-left: 1px solid #999; /* Параметры линии слева */
    border-bottom: 1px solid #999; /* Параметры линии снизу */
    padding-left: 10px; /* Отступ от линии слева до текста  */
    padding-bottom: 10px; /* Отступ от линии снизу до текста  */
    text-emphasis-color: green;
  }
  h5 {
    color: rgb(0, 0, 0);
    /* font-size: */
    /* font-family: */
  }
  table {
    background-color: whitesmoke;
    border-color: #33ff00;

  }
  font {
    color: green;
    margin-left: 10px; /* Отступ слева в пикселах */
    margin-right: 10px; /* Отступ справа в пикселах */
  }

  td {
    border-color: green;
  }
  u {
    color: red;
  }
  h4 {
    font-family: cursive;
  }